@page
@model LanguageClient.Pages.Admin.FeedbackModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- partial -->
<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <div class="d-flex sidebar-profile">
                <div class="sidebar-profile-image">
                    <img src="~/assets/images/faces/face29.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                </div>
                <div class="sidebar-profile-name">
                    <p class="sidebar-name">
                        Kenneth Osborne
                    </p>
                    <p class="sidebar-designation">
                        Welcome
                    </p>
                </div>
            </div>
           
            <p class="sidebar-menu-title mt-3">Menu</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Index">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/UserList">
                <i class="typcn typcn-user-outline menu-icon"></i>
                <span class="menu-title">User List</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-page="/Admin/Feedback">
                <i class="typcn typcn-message-typing menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Rates/">
                <i class="typcn typcn-star-full-outline menu-icon"></i>
                <span class="menu-title">Favorites List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
               aria-controls="charts">
                <i class="typcn typcn-chart-bar-outline menu-icon"></i>
                <span class="menu-title">Overview Statistics</span>
                <i class="menu-arrow"></i>
            </a>
         
        </li>
          <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/AccountsAnalysis">
                            Accounts
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/UsersAnalysis">
                            Users
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/LanguagesAnalysis">
                            Languages
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-page="/Charts/ScreensAnalysis">
                            Screens
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-page="/Charts/TranslationAnalysis">
                            Translations
                            Analysis
                        </a>
                    </li>
                </ul>
            </div>
    </ul>
</nav>

@{
    Dictionary<int, string> pageColors = new Dictionary<int, string>();

   string[] colors = new string[] {
    "#5356FF",  
    "#378CE7", 
    "#430A5D", 
    "#E8751A", 
    "#E178C5",  
    "#4CCD99",  
    "#007F73", 
    "#240A34",  
    "#51829B",  
    "#D04848",
    "#294B29",
    "#FF9843", 
    "#5D3587", 
    "#5FBDFF",
    "#994D1C",
    "#CE5A67",  
    "#4F4A45",   
    "#363062",   
    "#176B87",   
    "#BCA37F"   
};
    Random random = new Random();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card feedback_list_container">
                    <div class="card-body">
                        <h4 class="card-title">Feedbacks Table</h4>
                        <p class="card-description">
                            List of all feedback about Free Languages app.
                        </p>
                                @foreach (var comment in Model.Comments)
                                    {
                                      <div class="card text-dark">
                                            <div class="card-body p-4 card-body-feedback">
                                                 <div class="d-flex flex-start">
                                                         <div class="ele-img">
                                                            @foreach(var i in Model.Users){
                                                   
                                                                        if(comment.UserId == i.UserId){
                                                                    
                                                                            <img class="rounded-circle shadow-1-strong me-3" src="http://api-languagefree.cosplane.asia/api/Image/@i.ImageUser" alt="avatar" width="60" height="60" />
                                                                    }
                                                            }
                                                        </div>
                                                    
                                                            <div class=" ml-3">
                                                                @foreach(var k in Model.Users){
                                                                     if(comment.UserId == k.UserId){
                                                                         <h3 class="fw-bold mb-1"> @k.FullName 
                                                                         @foreach(var p in Model.PageScreens) {
                                                                                if(comment.PageId == p.PageId) {
                                                                                    if(pageColors.ContainsKey(p.PageId)) {
                                                                                        <label class="badge label_page" style="background-color: @pageColors[p.PageId];">@p.PageName</label>
                                                                                    } else {
                                                                                        string randomColor = colors[random.Next(colors.Length)];
                                                                                        pageColors[p.PageId] = randomColor;
                                                                                        <label class="badge label_page" style="background-color: @randomColor;">@p.PageName</label>
                                                                                    }   
                                                                                }
                                                                            }
                                                                         </h3>
                                                                        }
                                                                    }   
                                       
                                        <div class="d-flex align-items-center mb-2">
                                            <p class="mb-2 text-black-50 date-feedback">
                                              @comment.Timestamp.ToString("MMMM dd, yyyy")
                                            </p>

                                        </div>
                                        <p class="mb-0 limit-text">
                                            @comment.CommentText
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-0" />
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">
                Copyright © <a href="#"
                               target="_blank">bootstrapdash.com</a> 2020
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Free <a href="#"
                        target="_blank">Bootstrap dashboard </a>templates
                from
                Bootstrapdash.com
            </span>
        </div>
    </footer>
</div>