@page
@model LanguageClient.Pages.OpinionsHub.RatingModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!-- partial -->
<!-- partial:~/~/partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <div class="d-flex sidebar-profile">
                <div class="sidebar-profile-image">
                    <img src="~/assets/images/faces/face29.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                </div>
                <div class="sidebar-profile-name">
                    <p class="sidebar-name">
                        Kenneth Osborne
                    </p>
                    <p class="sidebar-designation">
                        Welcome
                    </p>
                </div>
            </div>
          @*   <div class="nav-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type to search..."
                           aria-label="search" aria-describedby="search">
                    <div class="input-group-append">
                        <span class="input-group-text" id="search">
                            <i class="typcn typcn-zoom"></i>
                        </span>
                    </div>
                </div>
            </div> *@
            <p class="sidebar-menu-title mt-3">Menu</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Index/">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/UserList/">
                <i class="typcn typcn-user-outline menu-icon"></i>
                <span class="menu-title">User List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Feedback/">
                <i class="typcn typcn-message-typing menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
               aria-controls="charts">
                <i class="typcn typcn-chart-bar-outline menu-icon"></i>
                <span class="menu-title">All Charts</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/Charts/AccountsAnalysis/">
                            Accounts
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/Charts/UsersAnalysis/">
                            Users
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/Charts/LanguagesAnalysis/">
                            Languages
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/Charts/ScreensAnalysis/">
                            Screens
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/Charts/TranslationAnalysis/">
                            Translations
                            Analysis
                        </a>
                    </li>
                </ul>
            </div>
        </li>
       
    </ul>
</nav>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Users Table</h4>
                        <p class="card-description">
                            List of all Language Free app users.
                        </p>
                        <div class="table-responsive" style="padding-top: 1rem;">
                            <table id="multi_col_order"
                                   class="table table-striped table-bordered display no-wrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>Page Id</th>
                                     
                                        <th>Location</th>
                                        <th>Status</th>
                                        <th>CommentText</th>
                                        <th>Timestamp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                       @foreach (var rate in Model.Rates)
                                    {
                                        <tr>
@*                                             <td>@user.ImageUser</td>
                                            <td>@user.FullName</td>
                                            
                                            <td>@user.DateOfBirth.ToString("yyyy-MM-dd")</td>
                                           
                                            <td>@user.Gender</td>
                                            <td>@user.National</td> *@
                                            <td>
                                                <a href="#details_user_Modal" data-toggle="modal">
                                                    <i class="mdi mdi-file-find icon_details_user"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="mdi mdi-close-circle icon_delete_user"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="details_user_Modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="button_close_modal"><i class="mdi mdi-close-circle-outline"></i></span>
                    <div class="row">
                        <div class="col-md-2 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" width="150px"
                                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Le Anh Tuyen</span><span class="text-black-50">anhtuyenle@mail.com</span><span> </span> @*Cho tên và email ở đây nữa post ảnh ở đây nữa nè*@
                            </div>
                        </div>
                        <div class="col-md-5 border-right" style="   flex: 0 0 74.66667%;
    max-width: 126.66667%;">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right font-weight-bold">Profile Settings</h4>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label class="labels label_detail">
                                            User ID
                                        </label><input type="text" class="form-control"
                                                       value="" readonly>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">
                                            Full Name
                                        </label><input type="text" class="form-control"
                                                       value="" readonly>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">Phone Number</label><input type="text"
                                                                                               class="form-control" readonly value="">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">Email</label><input type="text"
                                                                                               class="form-control" readonly value="">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">
                                            Birthday
                                        </label><input type="text" class="form-control"
                                                       readonly value="">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">Gender</label><input type="text"
                                                                                                class="form-control" readonly value="">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels label_detail">Nationality</label><input type="text" class="form-control" readonly
                                                                                                     value="">
                                    </div>
                                </div>
                                @* <div class="mt-3 text-center">
                                    <button class="btn btn-primary profile-button"
                                            type="button">
                                        Save
                                        Profile
                                    </button>
                                </div> *@
                            </div>
                        </div>
              @*           <div class="col-md-5">
                            <div class="p-3 py-5">
                                <div class="col-md-12">
                                    <label class="labels label_detail">
                                        Access
                                        Time
                                    </label><input type="text" class="form-control"
                                                   placeholder="Access time" value="" readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels label_detail">
                                        Favourite
                                        Feature
                                    </label><input type="text" class="form-control"
                                                   placeholder="Favourite feature" value="" readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels label_detail">
                                        App
                                        Review
                                    </label><input type="text" class="form-control"
                                                   placeholder="App Review" value="" readonly>
                                </div>
                            </div>
                        </div>
                   *@  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:~/~/partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">
                Copyright © <a href="#"
                               target="_blank">bootstrapdash.com</a> 2020
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Free <a href="#"
                        target="_blank">Bootstrap dashboard </a>templates
                from
                Bootstrapdash.com
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->